
@font-face {
	font-family: 'IRANSans-faNum';
	font-style: normal;
	font-weight: normal;
	src: url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.eot');
	src: url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.woff2') format('woff2'),
	url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.woff') format('woff'),
	url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.ttf') format('truetype');

}
body{

    background-color: #fff;
    direction: rtl;
    margin: 0;
    font-family: IRANSans-faNum;

}

#background{
    /*height: calc(100vh);*/
    min-height: 500px;
    background-color: #cccccc;
    background-position-x: center;
    background-position-y: center;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-attachment: initial;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin:0;
}
#sec4HeadHome{
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 15px;
    color: #b30753;
    margin-bottom: 20px;
    font-weight: 800;
    border-left-color: #b30753;
    border-left-width: thick;

}
#sec4HeadUser{
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 15px;
    color: #b30753;
    margin-bottom: 20px;
    font-weight: 800;
    border-left-color: #b30753;
    border-left-width: thick;

}

/*///////MyHomes////////////////////*/


#sec4Grid{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
        display: flex;
    flex-direction: row;



}
.sec4Cards{
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sec4Cards:hover {
    box-shadow: 0 4px 12px 0 rgba(97, 98, 99, 0.77);

}
.sec4Cards *:hover {
    box-shadow:none;
}



.sec4UserCards{
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sec4UserCards:hover {
    box-shadow: 0 4px 12px 0 rgba(97, 98, 99, 0.77);

}
.sec4UserCards *:hover {
    box-shadow:none;
}




.sec4Imgs{
    position: relative;
    background: center center/cover no-repeat;
    height: 154px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.sec4Bookmark {
    position: relative;
    top: 80px;
    right: 240px;

    z-index: +2;
}
.sec4Star {
    position: relative;
    top: -40px;
    right: 5px;
    color: #FFF;
    z-index: +2;
}



.fa-bookmark-o{

    position: relative;
    top: -45px;
    right: 230px;
    font-size: 60px;
    color:#FFF;
    z-index: +2;
}
.sec4ImgsInfo{
    position: relative;
    top: 120px;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
    color:#FFF;
    z-index: +2;
}
.sec4ImgsInfo2{
    position: relative;
    top: 80px;
    right: 5px;
    font-size: 10px;
    color: #fffbfb;
    margin-bottom: 8px;
    z-index: +2;
}
.sec4ImgNum{
    position: relative;
    top: 80px;
    right: 240px;
    font-size: 10px;
    color:#fff;
    z-index: +2;

}

.sec4Info{
    padding: 2px;

}
.sec4details{
    padding: 2px 0;
    border-bottom: 1px solid #e1e4e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.details4{
    flex: 1;
    padding-right: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #666;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}

.bluedetails4{
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #517cfb;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}


.sec4Price{
    padding: 10px;
    display: flex;
    flex-direction: column;


}

.sec4User{
    padding: 10px;
    display: flex;
    flex-direction: row;


}

.priceText4{
    display: flex;
    flex-direction: column;

}


.userText4{
    display: flex;
    flex-direction: column;

}


.useractions{
        display: flex;
    flex-direction: column;
    position: absolute;
    right: 700px;
}
.singleAction{
margin-bottom: 15px;
}




.details42{
    font-size: 16px;
    color: #173a63;
    display: flex;
    flex-direction: row;
}
.details42small{
    font-size: 11px;
    align-items: center;
    width: 42px;
    margin-left: 0;
    padding-top: 3px;
}


.details42smalluser{
    font-size: 11px;
    align-items: center;

    margin-left: 0;
    padding-top: 3px;
}


.sec4LogoDiv{
    position: relative;
    right: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.sec4Logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.sec4LogoText{
    font-size: 9px;
    color: #666;
    width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}















/*////////////////////////////////////*/
#changeMsg{
    color: red;
    height: 20px;
    width: 75%;
    border-color: indianred;
}


#infoPage{
    width: 800px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: colomn;
}

#formBar{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
#form{
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
}
.selectionBar{

    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
}
.tabs{

    background-color: inherit;

        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        margin-left: 0;
    font-size: 16px;
    color: rgba(170,170,170,.7);
    border-right: 1px solid rgba(170,170,170,.7);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(170, 170, 170, 0.7);
    padding-right: 7px;
    cursor: pointer;

}
#selectionBar button.active {
    background-color:white;
    color: #b30753;
    border-top-color: rgb(179, 7, 83);
    border-right-color: rgb(179, 7, 83);
    border-bottom-color: rgb(179, 7, 83);
    border-left-color: rgb(179, 7, 83);
    font-weight: 600;
    font-size: 16px;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 7px;
    margin-left: 15px;
    cursor: pointer;
  }
/* #login{
    text-decoration: none;
    color: #b30753;
    border-top-color: rgb(179, 7, 83);
    border-right-color: rgb(179, 7, 83);
    border-bottom-color: rgb(179, 7, 83);
    border-left-color: rgb(179, 7, 83);
    font-weight: 600;
    font-size: 16px;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 7px;
    margin-left: 15px;
    cursor: pointer;
}
#signup{
    text-decoration: none;
    margin-left: 0;
    font-size: 16px;
    color: rgba(170,170,170,.7);
    border-right: 1px solid rgba(170,170,170,.7);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(170, 170, 170, 0.7);
    padding-right: 7px;
    cursor: pointer;
} */
#cancelButton{
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    width: 33px;
    height: 33px;
    background-color: #707070;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
#sidebar{
    position: relative;
    background-color: #b30753;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 160px;
    height: 100%;
}
.completionForm{
    display: none;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    flex-direction: column;
}
.input{
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
}
.text{

    height: 35px;
    border-top-color: rgba(170, 170, 170, 0.7);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(170, 170, 170, 0.7);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(170, 170, 170, 0.7);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(170, 170, 170, 0.7);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    color: rgba(28,28,28,.4);
}
.formTxt{
    margin-right: 30%;
    font-size: 11px;
    color: rgba(28,28,28,.6);
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#link{

    cursor: pointer;
    color: #517cfb;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.form-submit-button{
    margin-top: 20px;
    margin-right: 30%;
    background-color: #b30753;
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    align-self: center;
    color: #fff;
    font-weight: 600;
}


.formTxt2{
    font-size: 11px;
    color: rgba(28,28,28,.6);
}
#headerForForm{
    font-size: 16px;
    color: #b30753;
    margin-bottom: 20px;

}

#link2{

    cursor: pointer;
    color: #517cfb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(81, 124, 251);
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
#form-submit-button2{
    margin-top: 20px;
    margin-right: 30%;
    background-color: #aaa;
    cursor: default;
    width: 120px;
    height: 35px;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    align-self: center;
    color: #fff;
    font-weight: 600;
}