
@font-face {
	font-family: 'IRANSans-faNum';
	font-style: normal;
	font-weight: normal;
	src: url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.eot');
	src: url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.woff2') format('woff2'),
	url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.woff') format('woff'), 
	url('https://www.kilidstatic.com/fonts/iransans/faNum/IRANSansWeb-FaNum.ttf') format('truetype');
   
}

html, body{ 
    height: 100%; 
    


} 
      
body{ 
    margin: 0px; 
    padding: 0px; 
    background: rgb(255, 255, 255);  
    font-size: 10pt; 
    box-sizing: border-box;
    direction: rtl;
    margin: 0;
    padding: 0;
    border: none;
    font-family: IRANSans-faNum;
} 
          

      
p, ol, ul{ 
    margin-top: 0; 
} 
  
p { 
    line-height: 180%; 
} 
  
ol, ul{ 
    padding: 0; 
    list-style: none; 
} 
      
.container{     
    /* Set width of container to  
        1200px and align center */
    margin: 0px auto; 
    width: 1200px; 
    overflow-x: hidden; 
} 

/*************************/
/*    Styling  Header    */
/*************************/
header{ 
      
    overflow: hidden; 

} 
  
#top-header{ 
    position: fixed;
    top: 0;  
    text-align: center; 
    height: 65px; 
    width: 95%;
    padding: 0 40px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    
} 
  
/****************/    
/* Styling Logo */
/****************/
#logo{ 
    float: right;  
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 10%; 
    height: 100%;
    min-height: 100%; 
    padding-top: 5px;
    
    
 
} 




#logo img{ 
    width: 100%; 
    height: 50%;
    float: right; 
    padding: 5px 0px; 
}     
  
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{ 
    float: left; 
    width: 90%; 
    height: 100%;  
    display: flex;
    flex-direction: row;
} 
      
#menuList{ 
    text-align: center; 
    float: left;  
    background: rgb(255, 255, 255); 
    height: 100%;
    min-height: 100%; 
    padding-left: 17px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
} 
 


#menu li{ 

    display: inline-block; 
    font-size: 13px;
    margin-left: 10px;
    padding-bottom: 5px;
     
    
} 
      
.category-name{ 
    color: rgb(0, 0, 0);
    display: inline-block; 
    padding: 0em 1.5em;
    text-decoration: none; 
    font-size: 11px;
    line-height: 60px; 
    
} 


      
.category-name:hover{ 
    /* background: #FFF;  */
    color: #b30753; 
    border-bottom: 1px solid #b30753; 
    text-decoration: none; 
} 


#active1{
    
    margin-top: 15px;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
    background: #b30753;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-color: #b30753;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #b30753;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #b30753;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b30753;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; 
}

.active{
    cursor: pointer;
    padding-top: 5px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 12px;   
    color: rgb(255, 255, 255); 
    
    
}

#active1:hover {
    background: #FFF; 
    color: #b30753; 

    
}
#active1:hover a{
    color: #b30753;
}

  
#header-image-menu img{ 
    width: 100%; 
} 
  
 #image-text{ 
    text-align: center;
    padding-top: 0px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 0;
     position: absolute;  
     top: 40%;
     left: 40%;
    color: #373435;

} 
/***************************/
/* Styling Search Box */
/***************************/
#searchBox{
    width: 640px;
    min-height: 120px;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
    margin-bottom: 20px;
    margin-top: 0;
     position: absolute;  
     top: 45%;
     left: 28%;
     text-align: center;
}
#searchBox a{
    /* display: inline-block;  */

    padding: 0.5em 3em; 
    text-decoration: none; 
    font-size: 15px;  
    text-align: center;
    
}
#serachButtons a{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

}

#pinkButton{
    background-color: #b30753;
    height:25px;
    font-size: 15px;
    color: #fff;
    border-top-color: rgba(249, 250, 252, 0.8);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(249, 250, 252, 0.8);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(249, 250, 252, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(249, 250, 252, 0.8);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    /* transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s; */
}
.otherButtons{


    color: #fff;
    background-color: rgba(44,44,44,.6);
    border-top-color: rgba(249, 250, 252, 0.8);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(249, 250, 252, 0.8);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(249, 250, 252, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(249, 250, 252, 0.8);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    /* transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s; */
    height: 25px;
}
.otherButtons:hover{
    background-color: rgba(44,44,44,.8);
}


#searchTab{
    
    background-image: linear-gradient(rgba(28, 28, 28, 0.3) 0px, rgb(44, 44, 44) 130%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    min-height: 60px;
    
}

#bar{
    display: inline-block;
    width: 85%;
    background-color: #fff;
    height: 46px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    
}
#selectCity{
    margin-right: 20px;
    float: right;
    width: 20%;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgba(94, 94, 94, 0.4);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 100%;
    color: #b30753;
    padding-right: 10px;
    background-color: transparent
}
#sectionName{
    width: 60%;
    float: left;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 100%;
    padding-left: 35px;
    padding-right: 12px;
    color: #b30753;
    background-color: transparent;
    /* transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */
}
#searchButton{
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    width: 100px;
    height: 46px;
    border-color: #b30753;
    border-width: 0cm;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #b30753;
    color: #fff;

}
#circleDiv{
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;box-shadow: 0 0 0 rgba(255,255,255,.9);
    margin-top: 70px;
    
}
#circle{
    
    
    align-items: center;
    cursor: pointer;
    
    
    
}

/***************************/
/* Styling Section1 */
/***************************/
#section-1{ 
    overflow: hidden; 
    margin-top: 5em; 
    padding-top: 1em; 
    /* border-top: 1px solid rgba(0, 0, 0, 0.2);  */
    text-align: center; 
    
}


.row #column2 { 
    float: right; 
    width: 40%;
    min-width: 40%; 
    justify-content: center;
    padding: 80px 40px 80px 40px; 
    display: flex;
    flex-direction: column;
}
.row #column1 { 
    padding-top: 45px;
    float:left;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 40%;

}

#column2 p{
    font-size: 18px;
    text-align: right;
    margin-bottom: 40px;
    line-height: 32px;
    color: #939598;
}


.column-title h2{ 
    margin: 1em 0em; 
    font-weight: 500;
    font-size: 22px; 
    color: #b30753;
    text-align: right;
    margin-bottom: 20px;
    
}


.button { 
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-self: center;
    width: 140px;
    height: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    text-decoration: none;  
    display: inline-block; 
    font-size: 15px;
    background-color: #FFF;  
    color: #b30753;
    border: 2px solid #FFF; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer; 
} 

      
.button:hover { 
    background-color: #b30753; 
    color: #FFF; 
}

/***************************/
/* Styling Section 2 */
/***************************/

#section2{
    background-color: #fff;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    color: #838383;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#headerSec2{
    color: #b30753;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    line-height: normal;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#pSec2{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 32px;
    color: #939598;
    width: 50%;
    min-width: 50%;
}
#columns_section2{
        display: flex;
    flex-direction: row;
}

.cols{
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    
}
.cards{
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 330px;
    width: 255px;
    margin-bottom: 20px;
    box-shadow: 0 1px 8px 0 rgba(209,211,213,.77);
    background-color: #fff;
    display: flex;
    flex-direction: column;   
    cursor: pointer; 

}
.cards:hover {
    box-shadow: 0 4px 12px 0 rgba(156, 157, 158, 0.77);

}


.changingImg{
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    object-fit: cover;
}
.changingImg:hover{
   
    transform: scale(1.1);
}

.imgs{
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    height: 70%;
    width: 100%;
    object-fit: cover;
}
.titles{

    align-items: center;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.titleContent{
    display:inline-block;
    color: #363535;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
/***************************/
/* Styling Section3 */
/***************************/




#section3{

    /* box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;


}
#sec3Head{
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 15px; 
    color: #b30753;
    margin-bottom: 20px;
    font-weight: 800;

}


#section4{

    /* box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;


}
#sec4Head{
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 15px;
    color: #b30753;
    margin-bottom: 20px;
    font-weight: 800;

}


#JSONbutton { 

    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-self: center;
    width: 140px;
    height: 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    text-decoration: none;  
    display: inline-block; 
    font-size: 15px;
    background-color: #FFF;  
    color: #b30753;
    border: 2px solid #FFF; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer; 
} 

      
#JSONbutton:hover { 
    background-color: #b30753; 
    color: #FFF; 
}
#sec3Grid{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    
}
#sec4Grid{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;


}
.sec3Cards{

    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sec3Cards:hover {
    box-shadow: 0 4px 12px 0 rgba(97, 98, 99, 0.77);

}
.sec3Cards *:hover {
    box-shadow:none;
}


.sec3Imgs{
    position: relative;
    background: center center/cover no-repeat;
    height: 154px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.sec3Bookmark {
    position: relative;
    top: 80px;
    right: 240px;

    z-index: +2;
}
.sec3Star {
    position: relative;
    top: -40px;
    right: 5px;
    color: #FFF;
    z-index: +2;
}



.fa-bookmark-o{

    position: relative;
    top: -45px;
    right: 230px;
    font-size: 60px;
    color:#FFF;
    z-index: +2;
}
.sec3ImgsInfo{
    position: relative;
    top: 120px;
    right: 5px; 
    font-size: 12px;
    font-weight: 500;
    color:#FFF;
    z-index: +2;
}
.sec3ImgsInfo2{
    position: relative;
    top: 80px;
    right: 5px; 
    font-size: 10px;
    color: #fffbfb;
    margin-bottom: 8px;
    z-index: +2;
}
.sec3ImgNum{
    position: relative;
    top: 80px;
    right: 240px;
    font-size: 10px;
    color:#fff;
    z-index: +2;

}
.camera{
    position: relative;
    top: 60px;
    right: 250px;
    font-size: 10px;
    color:#fff;
    z-index: +2;

}
.sec3Info{
    padding: 2px;
    
}
.sec3details{
    padding: 2px 0;
    border-bottom: 1px solid #e1e4e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.details{
    flex: 1;
    padding-right: 17px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #666;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}

.bluedetails{
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #517cfb;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}


.sec3Price{
    padding: 10px;
    display: flex;
    flex-direction: row;


}
.priceText{
    display: flex;
    flex-direction: column;

}
.details2{
    font-size: 16px;
    color: #173a63;
    display: flex;
    flex-direction: row;
}
.details2small{
    font-size: 11px;
    align-items: center;
    width: 42px;
    margin-left: 0;
    padding-top: 3px;
}
.sec3LogoDiv{
    position: relative;
    right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.sec3Logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.sec3LogoText{
    font-size: 9px;
    color: #666;
    width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}









#sec4HeadHome{
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 15px;
    color: #b30753;
    margin-bottom: 20px;
    font-weight: 800;

}




#sec4Grid{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;


}
.sec4Cards{

    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sec4Cards:hover {
    box-shadow: 0 4px 12px 0 rgba(97, 98, 99, 0.77);

}
.sec4Cards *:hover {
    box-shadow:none;
}


.sec4Imgs{
    position: relative;
    background: center center/cover no-repeat;
    height: 154px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.sec4Bookmark {
    position: relative;
    top: 80px;
    right: 240px;

    z-index: +2;
}
.sec4Star {
    position: relative;
    top: -40px;
    right: 5px;
    color: #FFF;
    z-index: +2;
}



.fa-bookmark-o{

    position: relative;
    top: -45px;
    right: 230px;
    font-size: 60px;
    color:#FFF;
    z-index: +2;
}
.sec4ImgsInfo{
    position: relative;
    top: 120px;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
    color:#FFF;
    z-index: +2;
}
.sec4ImgsInfo2{
    position: relative;
    top: 80px;
    right: 5px;
    font-size: 10px;
    color: #fffbfb;
    margin-bottom: 8px;
    z-index: +2;
}
.sec4ImgNum{
    position: relative;
    top: 80px;
    right: 240px;
    font-size: 10px;
    color:#fff;
    z-index: +2;

}

.sec4Info{
    padding: 2px;

}
.sec4details{
    padding: 2px 0;
    border-bottom: 1px solid #e1e4e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.details4{
    flex: 1;
    padding-right: 12px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #666;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}

.bluedetails4{
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #517cfb;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}


.sec4Price{
    padding: 10px;
    display: flex;
    flex-direction: row;


}
.priceText4{
    display: flex;
    flex-direction: column;

}
.details42{
    font-size: 16px;
    color: #173a63;
    display: flex;
    flex-direction: row;
}
.details42small{
    font-size: 11px;
    align-items: center;
    width: 42px;
    margin-left: 0;
    padding-top: 3px;
}
.sec4LogoDiv{
    position: relative;
    right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.sec4Logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.sec4LogoText{
    font-size: 9px;
    color: #666;
    width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}









/***************************/
/* Styling Footer */
/***************************/

#footer{
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
}
#contact{
    position: relative;
    top: -50px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.items{
    width: 60px;
    height: 60px;
    background-color: #464545;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;

}

ul.social-medias{ 
    margin: 0; 
    padding: 2em 0em 0em 0em; 
    list-style: none; 
}
ul.social-medias li{ 
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
    color: #7b7b7c;
    display: inline-block; 
    padding: 0em 0.10em; 
    font-size: 1em; 
} 
.icons{
    color: rgba(249,250,252,.3);
    font-size: 30px;
    transition: all .5s ease;
}
.icons:hover{
    color: #FFF;
}

#footerList{
    color: #f9fafc;
    font-size: 16px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
.footerListItems{
    margin-left: 30px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.footerListContent{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.footerListContent:hover{
    color: #7b7b7c;
}


#footerImages{
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;    

}
.footImgs{
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-top-color: rgb(112, 112, 112);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(112, 112, 112);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(112, 112, 112);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(112, 112, 112);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}
.fimg{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

#footerList2{
    color: #aaa;;
    font-size: 14px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
.footerListItems2{
    margin-left: 30px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.footerListContent2{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.footerListContent2:hover{
    color:#FFF 
}

#footerLogo{
    align-items: center;
    justify-content: center;
    margin-right: 45%;
    margin-bottom: 20px;
}
#icon2{
    width: 125px;
    height: 33px;
    align-items: center;
    justify-content: center;
}
#address{
    color: #aaa;
    font-size: 12px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

}
#addr{
    display: block;

}
#tel{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
#footerColumn{
    background-color: #1e1e1e;
    padding-top: 23px;
    padding-right: 8px;
    padding-bottom: 15px;
    padding-left: 8px;
    font-size: 11px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
#rightColFooter{
    margin-right: 10%;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    
}
#leftColFooter{
    display: flex;
    flex-direction: row;
}
.footerTitles{
    color: #aaa;
    margin-left: 16px;

}
.footerColumns{
    width: 160px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.sections{
    color: #fff;
    width: 50%;
    padding-left: 8px;
    text-decoration: none;
    cursor: pointer;
}

#lastLineFooter{
    background-color: #131313;
    font-size: 11px;
    height: 30px;
    align-items: center;
    justify-content: center;

    
}
#lastP{
    font-size: 10px;
    float: right;
    width: 20%;
    color: #ccc;
    opacity: .4;
    margin-right: 290px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    
}
#last{
    
    width: 40%;
    margin-left: 180px;
    float: left;
}

.lastItems{
    color: #f1f1f1;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}


#advancedSearch{

    justify-content: center;
    align-items: center;
    color: #fffbfb;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
        padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
        background-image: linear-gradient(rgba(28, 28, 28, 0.3) 0px, rgb(44, 44, 44) 130%);
    width: 30%;
    position: absolute;
    right: 220px ;
    height: 10px;
}




/************************************************/
/*///////MyHomes////////////////////*/


#sec5Grid{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
        display: flex;
    flex-direction: row;



}
.sec5Cards{
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sec5Cards:hover {
    box-shadow: 0 4px 12px 0 rgba(97, 98, 99, 0.77);

}
.sec5Cards *:hover {
    box-shadow:none;
}



.sec5UserCards{
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sec5UserCards:hover {
    box-shadow: 0 4px 12px 0 rgba(97, 98, 99, 0.77);

}
.sec5UserCards *:hover {
    box-shadow:none;
}




.sec5Imgs{
    position: relative;
    background: center center/cover no-repeat;
    height: 154px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.sec5Bookmark {
    position: relative;
    top: 80px;
    right: 240px;

    z-index: +2;
}
.sec5Star {
    position: relative;
    top: -40px;
    right: 5px;
    color: #FFF;
    z-index: +2;
}



.fa-bookmark-o{

    position: relative;
    top: -45px;
    right: 230px;
    font-size: 60px;
    color:#FFF;
    z-index: +2;
}
.sec5ImgsInfo{
    position: relative;
    top: 75px;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
    color:#FFF;
    z-index: +2;
}
.sec5ImgsInfo2{
    position: relative;
    top: 80px;
    right: 5px;
    font-size: 10px;
    color: #fffbfb;
    margin-bottom: 8px;
    z-index: +2;
}
.sec5ImgNum{
    position: relative;
    top: 80px;
    right: 240px;
    font-size: 10px;
    color:#fff;
    z-index: +2;

}

.sec5Info{
    padding: 2px;

}
.sec5details{
    padding: 2px 0;
    border-bottom: 1px solid #e1e4e9;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.details5{
    flex: 1;
    padding-right: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #666;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}

.bluedetails5{
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #517cfb;
    font-size: 11px;
    border-left: 1px solid #e1e4e9;
    white-space: nowrap;
}


.sec5Price{
    padding: 10px;
    display: flex;
    flex-direction: column;


}

.sec4User{
    padding: 10px;
    display: flex;
    flex-direction: row;


}

.priceText5{
    display: flex;
    flex-direction: column;

}


.userText5{
    display: flex;
    flex-direction: column;

}






.details52{
    font-size: 16px;
    color: #173a63;
    display: flex;
    flex-direction: row;
}
.details52small{
    font-size: 11px;
    align-items: center;
    width: 42px;
    margin-left: 0;
    padding-top: 3px;
}


.details52smalluser{
    font-size: 11px;
    align-items: center;

    margin-left: 0;
    padding-top: 3px;
}


.sec5LogoDiv{
    position: relative;
    right: 75px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.sec5Logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.sec5LogoText{
    font-size: 9px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}















/*////////////////////////////////////*/

