{% load static %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <title>کیلید / ورود</title>
                <link rel="stylesheet" href={% static "CSS/loginStyle.css" %} />
        </head>

        <body>
            <div id="background">
                <div id="loginPage">
                    <div id="cancelButton" >
                        <a href="login" style="font-size: 9px; color: white; text-decoration: none;"> <img src={% static "images/close-.png" %} style="width: 100%;height: 100%;margin-left: auto;margin-right: auto;display: block;" alt="close" /></a>
                    </div>
                    <div id="sidebar" style="position:relative;">
                        <img src={% static "images/side1.png" %} style="max-width: 100%; min-width: 100%; height: 25%; position: absolute;bottom: 0;" alt="graphics" />
                    </div>
                    <div id="formBar">
                        <div id="form">
                            <form method="POST" action="forgetPass">
                                {% csrf_token %}
                            <div id="selectionBar">
                                <a id="login">
                                        تغییر رمز عبور
                                </a>

                                <div id="completionForm">
                                    <div class="input">
                                            <input class="text" placeholder="نام کاربری" type="text" name="username" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder=" رمز عبور جدید" type="password" name="password" value="" required />
                                    </div>

                                    <button id="form-submit-button" type="submit" >تغییر</button>
                                </div>

                            </div>
                        </form>
                        </div>
                        <img src={% static "images/side2.png" %} style="max-width: 100%; min-width: 100%; height: 25%; position: absolute;bottom: 0;" alt="graphics" />
                    </div>

                </div>
            </div>
        </body>

</html>