{% load static %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
                 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                <title>کیلید |کاربر عادی</title>
                <link rel="stylesheet" href={% static "CSS/normalUserStyle.css" %} />
                <script src="./JS/vue.js"></script>
        </head>

        <body>
        <script> window.location.hash = '#{{jump}}'; </script>
            <div id="background">
                <div id="infoPage" style="height: 820px;margin-top: 45px;margin-bottom: 45px">
                    <div id="cancelButton" >
                        <a href={% url 'index' %} style="font-size: 12px; color: white; text-decoration: none;width: 100%;margin-left: auto;margin-right: 4px; margin-top: 7px;display: block;">خانه</a>
                    </div>
                    <div id="sidebar" style="position:relative;">
                        <a  href={% url "myHomes" %} id="headerForForm" style="color:white;padding-top: 10px;padding-right: 20px;position: relative;top: 25px;cursor: pointer;text-decoration: none;">خانه‌های من</a>
                        <a  href={% url "bookmarks" %} id="headerForForm" style="color:white;padding-top: 10px;padding-right: 20px;position: relative;top: 25px;cursor: pointer;text-decoration: none;">لیست خانه‌های bookamrk شده</a>

{#                        <img src={% static "images/side1.png" %} style="max-width: 100%; min-width: 100%; height: 25%; position: absolute;bottom: 0;" alt="graphics" />#}
                    </div>
                    <div id="formBar">
                        <div id="form">

                            <div class="selectionBar">
                                <h1 id="headerForForm">حساب کاربری : {{ username }}</h1>
                                <form method="POST" action="changeEmail">
                                {% csrf_token %}
                                <h1 id="headerForForm">ویرایش اطلاعات</h1>
                                <div id="completionForm">
                                    <div class="input">
                                            <input class="text" placeholder="ایمیل برای دریافت خبرنامه" type="text" name="newEmail" value="" required />
                                    </div>


                                    <button class="form-submit-button" type="submit" >ذخیره</button>
                                </div>
                                </form>
                                                                {% for message in messages %}

                            <div class="alert alert-success" style="color: #b30753;font-size: 14px;font-weight: bold;background-color: rgba(170,170,170,.7);;margin-top: 10px;;border-radius: 8px;;padding-right: 20px;">
                        <a class="close" href="#" data-dismiss="alert"></a>

                        {{ message }}

                    </div>
            {% endfor %}
                            </div>
{##}
{#                            <script>#}
{#                                $(".form-submit-button").eq(0).click(function (event) {#}
{#                                    $(".input").eq(0).append($('<div></div>').attr('id', "changeMsg"));#}
{#                                    $("#changeMsg").append($('<div></div>').html("ایمیل به روزرسانی شد"));#}
{##}
{##}
{#                                        });#}
{#                            </script>#}
                            <div class="selectionBar">
                                <form method="POST" action="addHouse">
                                {% csrf_token %}
                                    {{ form }}
                                <h1 id="headerForForm">اضافه کردن خانه</h1>
                                <div id="completionForm">
                                    <div class="input">
                                            <input class="text" placeholder="عنوان" type="text" name="hometitle" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder="قیمت" type="text" name="homeprice" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder="نوع" type="text" name="hometype" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder="متراژ" type="text" name="homearea" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder="تعداد خواب" type="text" name="homebedrooms" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder="تعداد پارکینگ" type="text" name="homeparkings" value="" required />
                                    </div>
                                    <div class="input">
                                            <input class="text" placeholder="محله" type="text" name="homelocality" value="" required />
                                    </div>
                                    <div class="input">
                                            <input type="file" placeholder="عکس" name="homepic" accept="image/*">
                                    </div>

                                    <button class="form-submit-button" type="submit" >ثبت</button>
                                </div>

                                </form>

                            </div>

                        </div>
{#                        <img  src={% static "images/side2.png" %} style="max-width: 100%; min-width: 100%; height: 1%; position: absolute;bottom: 0;" alt="graphics" />#}
                    </div>


                </div>

                <div id="sec4Head" style="margin-top: 100px">خانه‌های من </div>
                <div id="infoPage" style="margin-top: 45px;margin-bottom: 45px">

                                <div id="sec4Grid">

                    {% for result in results %}
                     <div class="sec4Cards">
                        <div class="sec4Imgs"
                             style="background-image: url({{ result.pic.image}});">
                            <div class="sec4ImgsInfo">
                                <div>{{ result.title }}</div>
                            </div>
                            <div class="sec4ImgsInfo2">
                                <div>{{ result.locality }}</div>
                            </div>
                            {% if result.star %}
                                <div class="fa fa-star" style="color: white;position: relative;right: 250px;top:-40px;font-size: 16px"></div>
                            {% endif %}
{#                            {% if result.bookmark %}#}
{#                                <div class="fa fa-bookmark" style="color: white;position: relative;right: 250px;top:-40px;font-size: 16px"></div>#}
{#                            {% endif %}#}
                        </div>
                        <div class="sec4Info">
                            <div class="sec4details">
                                <div class="bluedetails4">
                                    <div >{{ result.created_at }}</div>
                                </div>
                                <div class="details4">
                                    <div>{{ result.bedrooms }}خوابه</div>
                                </div>
                                <div class="details4">
                                    <div>{{result.area}}متر </div>
                                </div>
                                <div class="details4">
                                    <div>{{ result.type }}</div>
                                </div>
                            </div>
                            <div class="sec4Price">
                                <div class="priceTex4">
                                    <div class="details42">
                                        <div class="details42small">قیمت:</div>
                                        <div>{{ result.price }}میلیارد تومان </div>
                                    </div>

                                </div>
                                <div class="sec4LogoDiv">
                                    <a class="fa fa-trash singleAction"  href="{% url 'deleteHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 26px; "></a>
                                    <a class="fa fa-bookmark singleAction"  href="{% url 'bookmarkHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 26px; margin-right: 10px;margin-left: 10px;text-decoration: none "></a>
                                    <a class="fa fa-edit singleAction"  href="{% url 'editHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 22px; margin-right: 8px;margin-left: 8px;text-decoration: none "></a>


                                    <span class="sec4LogoText">{{ result.estate }}</span></div>
                            </div>
                        </div>
                    </div>


{#                        <script>#}
{##}
{#                                    function timestamp(t) {#}
{##}
{#                                        var now = new Date();#}
{#                                        var nowTimeStamp = now.getTime();#}
{#                                        var microSecondsDiff = Math.abs({{ result.created_at }} * 1000 - nowTimeStamp);#}
{#                                        // Number of milliseconds per day =#}
{#                                        //   24 hrs/day * 60 minutes/hour * 60 seconds/minute * 1000 msecs/second#}
{#                                        daysDiff = Math.floor(microSecondsDiff / (1000 * 60 * 60 * 24));#}
{#                                        if (daysDiff > 30) {#}
{#                                            monthDiff = Math.floor(daysDiff / 30);#}
{#                                            daysDiff = daysDiff - (30 * monthDiff);#}
{#                                            return (monthDiff + '  ماه و' + daysDiff + '  روز پیش');#}
{#                                        } else {#}
{#                                            return daysDiff + '  روز پیش';#}
{#                                        }#}
{##}
{#                                    }#}
{##}
{#                                    $(".bluedetails4").eq(0).append($('<div></div>').html(timestamp({{ result.created_at }})))#}
{##}
{#                        </script>#}
                    {% endfor %}


                </div>



                </div>




            {#            adding bookmarks#}


                <div id="sec4Head‌Bookmark" style="margin-top: 100px;     text-align: center;align-self: center;text-decoration: none;font-size: 15px;color: #b30753;margin-bottom: 20px;font-weight: 800;border-left-color: #b30753;border-left-width: thick;">خانه های bookmark شده</div>
                <div id="infoPage" style="margin-top: 45px;margin-bottom: 45px">

                    <div id="sec4Grid" >

                    {% for bookmark in bookmarks %}
                     <div class="sec4Cards">
                        <div class="sec4Imgs"

                             style="background-image: url({{ bookmark.house.pic.image}});">
                            <div class="sec4ImgsInfo">
                                <div>{{ bookmark.house.title }}</div>
                            </div>
                            <div class="sec4ImgsInfo2">
                                <div>{{ bookmark.house.locality }}</div>
                            </div>
                            {% if bookmark.house.star %}
                                <div class="fa fa-star" style="color: white;position: relative;right: 250px;top:-40px;font-size: 16px"></div>
                            {% endif %}
{#                            {% if bookmark.house.bookmark %}#}
{#                                <div class="fa fa-bookmark" style="color: white;position: relative;right: 200px;top:-40px;font-size: 16px"></div>#}
{#                            {% endif %}#}

                        </div>
                        <div class="sec4Info">
                            <div class="sec4details">
                                <div class="bluedetails4">
                                   <div >{{ bookmark.house.created_at }}</div>
                                </div>
                                <div class="details4">
                                    <div>{{ bookmark.house.bedrooms }}خوابه</div>
                                </div>
                                <div class="details4">
                                    <div>{{bookmark.house.area}}متر </div>
                                </div>
                                <div class="details4">
                                    <div>{{ bookmark.house.type }}</div>
                                </div>
                            </div>
                            <div class="sec4Price">
                                <div class="priceTex4">
                                    <div class="details42">
                                        <div class="details42small">قیمت:</div>
                                        <div>{{ bookmark.house.price }}میلیارد تومان </div>
                                    </div>

                                </div>
                                <div class="sec4LogoDiv">
{#                                    <a class="fa fa-trash singleAction"  href="{% url 'deleteHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 22px;text-decoration: none "></a>#}
{#                                    <a class="fa fa-star singleAction"  href="{% url 'starHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 22px; margin-right: 8px;margin-left: 8px;text-decoration: none "></a>#}
{#                                    <a class="fa fa-bookmark singleAction"  href="{% url 'bookmarkHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 22px; margin-right: 8px;margin-left: 8px;text-decoration: none "></a>#}
{#                                    <a class="fa fa-edit singleAction"  href="{% url 'editHousing' select=result.id %}"  aria-hidden="true" style="color: #173a63;font-size: 22px; margin-right: 8px;margin-left: 8px;text-decoration: none "></a>#}


                                    <span class="sec4LogoText">{{ bookmark.house.estate }}</span></div>
                            </div>
                        </div>
                    </div>


{#                        <script>#}
{##}
{#                                    function timestamp(t) {#}
{##}
{#                                        var now = new Date();#}
{#                                        var nowTimeStamp = now.getTime();#}
{#                                        var microSecondsDiff = Math.abs({{ result.created_at }} * 1000 - nowTimeStamp);#}
{#                                        // Number of milliseconds per day =#}
{#                                        //   24 hrs/day * 60 minutes/hour * 60 seconds/minute * 1000 msecs/second#}
{#                                        daysDiff = Math.floor(microSecondsDiff / (1000 * 60 * 60 * 24));#}
{#                                        if (daysDiff > 30) {#}
{#                                            monthDiff = Math.floor(daysDiff / 30);#}
{#                                            daysDiff = daysDiff - (30 * monthDiff);#}
{#                                            return (monthDiff + '  ماه و' + daysDiff + '  روز پیش');#}
{#                                        } else {#}
{#                                            return daysDiff + '  روز پیش';#}
{#                                        }#}
{##}
{#                                    }#}
{##}
{#                                    $(".bluedetails4").eq(0).append($('<div></div>').html(timestamp({{ result.created_at }})))#}
{##}
{#                        </script>#}
                    {% endfor %}


                </div>



                </div>












{#            finish bookmarks#}




            {#            editing#}


            <div id="sec4Head" style="margin-top: 100px">ویرایش خانه </div>
                <div id="infoPage"  style="margin-top: 45px;margin-bottom: 45px">

            {% if edition %}

                <div class="selectionBar" id="editionDiv">
                                <form method="POST" action={% url 'makeedition' %}>
                                {% csrf_token %}
                                    {{ form }}
                                <h1 id="headerForForm">ویرایش خانه</h1>
                                <div id="completionForm">
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">عنوان: </label>
                                            <input class="text" placeholder="{{ title }}" type="text" name="hometitle" value=""  />
                                    </div>
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">قیمت: </label>
                                            <input class="text" placeholder="{{ price }}" type="text" name="homeprice" value=""  />
                                    </div>
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">نوع: </label>
                                            <input class="text" placeholder="{{ type }}" type="text" name="hometype" value=""  />
                                    </div>
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">متراژ: </label>
                                            <input class="text" placeholder="{{ area }}" type="text" name="homearea" value=""  />
                                    </div>
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">تعداد خواب: </label>
                                            <input class="text" placeholder=" {{ bedrooms }}" type="text" name="homebedrooms" value=""  />
                                    </div>
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">تعداد پارکینگ: </label>
                                            <input class="text" placeholder="{{ parkings }}" type="text" name="homeparkings" value=""  />
                                    </div>
                                    <div class="input" style="    display: flex; flex-direction: row;">
                                        <label style="font-size: 14px;color: #2c2c2c;margin-left: 8px;">محله: </label>
                                            <input class="text" placeholder="{{ locality }}" type="text" name="homelocality" value=""  />
                                    </div>
                                    <div class="input" style="display: none">
                                            <input class="text" style="display: none"  type="text" name="select" value={{ houseID }}  />
                                    </div>



                                    <button class="form-submit-button" type="submit" style="margin-bottom: 20px" >ویرایش</button>
                                </div>

                                </form>

                            </div>


            {% endif %}


                </div>



{#            end editing#}





            </div>


        </body>

</html>